.listaBarbearia{
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.logoCabecalho{
    width: 120px;
}
header {
	background-color: rgb(224, 224, 224);
	padding: 20px 0;
}
.conteinerDoCabecalho{    
    position: relative;
    width: 940px;
    margin: 0 auto;/*cima baixo 0*/    
}
.navBarbearia{
    position: absolute;
    top: 90px; ;
    right: 0px;
}
.navBarbearia li{
    display: inline;
    margin: 0 0 0 15px;
}
.navBarbearia a{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-decoration:none;
    color: rgb(120, 120, 120);
}
.navBarbearia a:hover{
    color: rgb(77, 77, 77);
    text-decoration:wavy;
}
.itensDeListaBarbearia{
    margin-left: 30px;
}
.itensDeListaBarbearia a:hover{
    text-decoration: wavy;
    color: aqua;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin:0 1.5%;
    padding: 30px 20px;/*30px para cima e baixo e 20 para os lados*/
    box-sizing: border-box;
    border: 2px solid black;/*largura - tipo - cor*/
    border-radius: 10px;
    
}
.produtos li:hover{
    border-color: rgb(96, 96, 165);    
}
.produtos li:active{
    border-color: green;
}
.produtos li h2{
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
    
}
.produtos li:hover h2{
    font-size: 35px;
       
}
.descricaoDeProduto{
    
    font-size: 18px;
}
.precoDoProduto{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;   
}
footer{
    background: url("bg.jpg");
    text-align: center;
    padding: 40px 0;
}
footer p{
    color: white;
}



